.HomeEducation {
    margin: 5em;
}

.masterCard {
    display: flex;
    margin: 20px;
    position: relative;
}

.hidden {
    position: relative;
    z-index: -1;
    width: 0px;
    height: 599px;
    opacity: 0;
    max-height: 599px;
    margin-left: -50%;
    padding: 5px 0;
    background: white;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    animation: 2s slide-left;
    transition: width 2s, height 2s, opacity 1s;
}
.unhidden {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: white;
    border-radius: 0 15px 15px 0;
    width: 150px;
    height: 599px;
    max-height: 599px;
    padding: 5px 0;
    opacity: 1;
    animation: 1.5s slide-right;
    transition: width 1s, opacity 3s;
}
.unhidden_border {
    border-radius: 20px 0 0 0 !important;
}

.coursework > div, .Description > div {
    width: 100%;
    white-space: normal
}

@keyframes slide-right {
    from {
        z-index: -1;
        margin-left: -50%;
    }
    to {
        z-index: -1;
        margin-left: 0%;
    }
}

@keyframes slide-left {
    from {
        z-index: -1;
        margin-left: 0%;
    }
    to {
        z-index: -1;
        margin-left: -50%;
    }
}

.unhidden > div > hr,
.unhidden2 > div > hr {
    margin: 4px 0;
    width: 95%;
    border: 1px solid rgba(0, 0, 0, .3);
}

.coursework, .Description {
    padding: 3px 5px 3px 5px;
    position: relative;
}

.HomeEducationCards, .HomeExperienceCards {
    display: flex;
    justify-content: center;
}

.HomeEducation hr, .HomeExperience hr {
    border: 1px solid rgba(255,255,255,.3);
    width: 70%;
    margin-bottom: 2em;
}
.HomeEducation h2, .HomeExperience h2 {
    font-size: 4em;
    margin: 20px 0 20px 0 !important;
}

.HomeEducationCards .card, .HomeExperienceCards .card {
    width: 20rem;
    padding: 0;
    border: none;
    position: relative;
}


.HomeEducationCards img, .HomeExperienceCards img {
    padding: 2rem;
    background: rgba(255,255,255,.5);
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    transition: 1s;
}

.card-body {
    display: flex;
    flex-direction: column;
    background: white;
}
.CWContainer {
    /* padding: 30px; */
    height: 50px;
    background: white;
    border-radius: 0 0 20px 20px;
    transition: 1s;
}
.unhidden_CWContainer {
    border-radius: 0 0 0 20px !important;
}

.HomeEducation-CardBody > h5 {
    font-weight: bold;
    height: 50px;
    margin: 0 0 10px 0;
}
.HomeEducation-CardBody > .card-text {
    font-size: large;
}
.card {
    background: none;
}

@keyframes run {
    0% {
      left: 0;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 0;    
    }
  }

@media (max-width: 1300px) {
    .unhidden_cardWidth {
        max-width: 200px !important;
    }

    .HomeEducation {
        margin: 0px;
        /* padding: 0 20px; */
    }
    .HomeEducation-CardBody {
        height: 181px;
    }

    .HomeEducationCards .card, .HomeExperienceCards .card {
        max-width: 270px;
        transition: 1s;
    }

    .HomeEducationCards, .HomeExperienceCards {
        flex-direction: column;
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
    }

    .masterCard {
        margin: 20px auto;
        /* flex-direction: column; */
    }
    
    .hidden {
        /* transition: width 2s, height 0s, opacity 1s; */
        max-height: 431px;
        height: 431px;
    }
    .unhidden {
        max-height: 431px;
        height: 431px;
        overflow: scroll;
    }
    .card-title {
        font-size: 1.2rem;
    }
}
