.navbar {
    padding: 0;
}
.navbar-nav {
    padding: 20px;
    background: rgba(0,0,0,0) !important;
    font-family: 'Advent Pro';
    width: 100%;
    justify-content: center;
}
.nav-item {
    font-size: 2em;
    margin: 0 2em;
}
.navbar-toggler {
    width: 100%;
}