.HomeSkills {
    color: white;
    height: auto;
    margin-top: 5em;
}
.HomeSkills h2 {
    font-size: 4em;
    margin-bottom: 0 !important;
}
.HomeSkills hr {
    border: 1px solid rgba(255,255,255,.3);
    width: 70%;
    margin-bottom: 2em;
}
.skillsContainer {
    justify-content: center;
    min-height: 800px;
}
.buttonContainer {
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.buttonContainer .btn {
    margin: 5px 20px;
    max-width: 60%;
    min-width: 150px;
    font-size: 24px;
    font-weight: bold;
}

.icon-size {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    margin: 0 auto;
    justify-content: center;
    height: 100%;
    font-size: 6em;

}
i {
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

i span {
    font-family: 'Handlee';
    color: white;
    margin: 1.5em auto;
    font-size: .3em;
}

.selected {
    position: relative;
}
.selected:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #d2d7da;
    width: 80%;
    transform: translateX(-50%);
    bottom: -25px;
    left: 50%;
}

@media (max-width: 900px) {
    .selected:after {
        bottom: -7px;
    }
    .icon-size {
        width: 70%;
        grid-template-columns: repeat(2,1fr);
        gap: .1em;
    }
    .HomeSkills h2 {
        font-size: 3em;
    }
}