.HomeSkillsOffice-Icon {
    height: 250px;
    width: 142.5px;
    background-repeat: no-repeat;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
}
.HomeSkillsOffice-Icon img {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}
