.ProjectCard {
    font-family: "Handlee";
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px auto;
    gap: 40px;
}
.ProjectCardContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    max-width: 500px;
    height: 420px;
}
.ProjectCardImage {
    padding: 10px;
}
.ProjectCardImage img {
    border-radius: 5px;
    min-height: 256px;
    width: 100%;
    height: 100%;
}
.ProjectCardDetails p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.ProjectCardDetails p:last-of-type {
    font-size: 17px;
    height: 40px;
    margin: 0;
}

.ProjectCardDetails {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: left;
    padding: 0 10px;
}

.ProjectCardDetailsButtonContainer {
    margin: 10px 0;
}
.ProjectCardDetailsButtonContainer button {
    margin-right: 10px;
}
.DetailPopTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background: rgba(0,0,0,.1);

}
.DetailPopTitle p {
    margin: 0 10px;
    font-weight: bold;
    font-size: 54px;
}

.ProjectCardDetailPop {
    background: white;
    border: gray solid 3px;
    border-radius: 20px;
    padding-top: 0;
    position: fixed;
    min-height: 600px;
    height: 500px;
    width: 900px;  
    margin-left: -450px;
    margin-top: -300px;
    top: 50%;
    left: 50%;
}
.DetailPopTop {
    padding: 20px;
    display: flex;
}
.DetailPopTop .slide-container {
    width: 60%;
    margin: 0;
}
.DetailPopTop .react-slideshow-fade-wrapper {
    background: none;
    border-radius: 0;
}
.DetailPopTop img {
    min-height: 300px;
    max-height: 300px;
    /* height: 100%; */
    border-radius: 20px;
    max-width: 100%;
}
.PopTopContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.PopTopContainer div {
    font-size: 20px;
}
.PopTopContainer div:hover {
    cursor: default !important;

}
.DetailPopBot {
    width: 80%;
    padding: 0 20px;
    text-align: left;
    font-size: 18px;
}
.DetailBotButtons {
    padding: 0 20px;
    text-align: left;
}
.DetailBotButtons .btn {
    margin-right: 10px;
    font-size: 20px;
    /* width: 15%; */
}
.DetailBotButtons i {
    margin-right: 10px;
}

.disableStuff {
    opacity: 0.5;
    pointer-events: none;
}
