.ProjectCard {
    font-family: "Handlee";
    width: 100%;
    margin: 50px auto;
    padding: 20px;
}
.rowContainer {
    width: 95%;
    margin: 0px auto;
}
.project {
    padding: 20px;
}
.ProjectCardContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    min-height: 420px;
}
.ProjectCardImage {
    padding: 10px;
}
.ProjectCardImage img {
    object-fit: cover;
    border-radius: 5px;
    min-height: 256px;
    height: 256px;
    width: 100%;
}
.ProjectCardDetails p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.ProjectCardDetails p:last-of-type {
    font-size: 17px;
    min-height: 50px;
    margin: 0;
}

.ProjectCardDetails {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: left;
    padding: 0 10px;
}

.ProjectCardDetailsButtonContainer {
    display: flex;
    margin-top: auto;
    margin: 20px 10px;
}
.ProjectCardDetailsButtonContainer button {
    margin-right: 10px;
}
.DetailPopTitle {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background: rgba(229,229,229,1);

}
.DetailPopTitle p {
    margin: 0 10px;
    font-weight: bold;
    font-size: 5vmin;
}

.ProjectCardDetailPop {
    display: flex;
    flex-direction: column;
    background: white;
    border: gray solid 3px;
    border-radius: 20px;
    padding: 0;
    position: fixed;
    height: 70vh;
    width: 50%;
    max-width: 80%;  
    margin-left: -25vw;
    margin-top: -35vh;
    overflow: scroll;
    top: 50%;
    left: 50%;
}
.DetailPopTop {
    padding: 20px;
    margin: 0;
}
.DetailPopTop .slide-container {
    width: 100%;
    margin: 0;
}
.DetailPopTop .react-slideshow-fade-wrapper {
    background: none;
    border-radius: 0;
}
.PopTopImageContainer {
    max-height: 20em;
}
.DetailPopTop img {
    max-height: 200px;
    background-size: contain;
    border-radius: 20px;
    max-width: 100%;
}
.PopTopContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.PopTopContainer div {
    font-size: 16px;
}
.PopTopContainer div:hover {
    cursor: default !important;

}
.PopBotRow {
    margin: 0;
}
.DetailPopBot {
    padding: 0 20px;
    text-align: left;
    font-size: 18px;
}
.DetailBotButtons {
    margin: 0;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
    padding: 0px 20px 20px 20px;
    text-align: left;
}
.DetailBotButtons .btn {
    margin-right: 10px;
    font-size: 20px;
}
.DetailBotButtons i {
    margin-right: 10px;
}
.popUpRow {
    margin: 0;
}

.disableStuff {
    opacity: 0.5;
    pointer-events: none;
}
@media (max-width: 700px) {
    .project {
        padding: 20px 5px;
    }
    .rowContainer {
        width: 100%;
        padding: 0;
    }
    .ProjectCardDetailPop {
        max-height: 90vh;
        min-height: 90vh;
        width: 80%;
        margin-left: -40vw;
        margin-top: -45vh;
        top: 50%;
        left: 50%;
    }
    .ProjectCardImage img {
        object-fit: cover;
    }
}